/** @mainpage Qore python Module

    @tableofcontents

    @section pythonintro python Module Introduction

    The \c python module allows for ,,,,

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for more
    information).  The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code %requires python @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Qore::Python::PythonProgram "PythonProgram"|Allows Python code to be embedded and executed in %Qore

    @section python_examples Examples

    @par Example:
    @code{.py}
#!/usr/bin/env qore

%new-style
%require-types
%strict-args
%enable-all-warnings

%requires python

PythonProgram::evalExpression("print('hello world!')");
    @endcode

    @section python_types Type Conversions Between Qore and Python

    @subsection python_qore_to_python Type Conversions From Qore To Python

    |!Source %Qore Type|!Target Python Type
    |\c binary|\c bytearray
    |\c bool|\c bool
    |\c date|\c datetime.datetime (absolute date/time values) or \c datetime.delta (relative date/time values)
    |\c float|\c float
    |\c hash|\c dict
    |\c int|\c int
    |\c list|\c list
    |\c list|\c string

    @subsection python_python_to_qore Type Conversions From Python to Qore

    |!Source Python Type|!Target %Qore Type
    |\c bool|\c bool
    |\c int|\c int
    |\c float|\c float
    |\c bytes|\c binary
    |\c bytearray|\c binary
    |\c datetime.datetime|\c date (absolute date/time values)
    |\c datetime.delta|\c date (relative date/time values)
    |\c dict|\c hash
    |\c list|\c list
    |\c string|\c list
    |\c tuple|\c list

    @section python_exceptions Python Exception Handling

    Python exceptions are mapped to Qore exceptions as follows:
    - \c err: the Python exception class name (ex: \c "SyntaxError")
    - \c desc: the string description, if none, then the exception arguments converted to a string with \c repr()
    - \c arg: the Python exception object itself converted to a Qore value (TODO)

    @section pythonreleasenotes python Module Release Notes

    @subsection python_1_0 python Module Version 1.0
    - initial public release
*/
