/** @mainpage Qore python Module

    @tableofcontents

    @section pythonintro python Module Introduction

    The \c python module allows for ,,,,

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for more
    information).  The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code %requires python @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Qore::Python::PythonProgram "PythonProgram"|Allows Python code to be embedded and executed in %Qore

    @section python_examples Examples

    @par Example:
    @code{.py}
#!/usr/bin/env qore

%new-style
%require-types
%strict-args
%enable-all-warnings

%requires python

PythonProgram::evalExpression("print('hello world!')");
    @endcode

    @section python_types Type Conversions Between Qore and Python

    @subsection python_qore_to_python Type Conversions From Qore To Python

    |!Source %Qore Type|!Target Python Type
    |\c binary|\c bytearray
    |\c bool|\c bool
    |\c date|\c datetime.datetime (absolute date/time values) or \c datetime.delta (relative date/time values)
    |\c float|\c float
    |\c hash|\c dict
    |\c int|\c int
    |\c list|\c list
    |\c list|\c string

    @subsection python_python_to_qore Type Conversions From Python to Qore

    |!Source Python Type|!Target %Qore Type
    |\c bool|\c bool
    |\c int|\c int
    |\c float|\c float
    |\c bytes|\c binary
    |\c bytearray|\c binary
    |\c datetime.datetime|\c date (absolute date/time values)
    |\c datetime.delta|\c date (relative date/time values)
    |\c dict|\c hash
    |\c list|\c list
    |\c string|\c list
    |\c tuple|\c list

    @section python_exceptions Python Exception Handling

    Python exceptions are mapped to Qore exceptions as follows:
    - \c err: the Python exception class name (ex: \c "SyntaxError")
    - \c desc: the string description, if none, then the exception arguments converted to a string with \c repr()
    - \c arg: the Python exception object itself converted to a Qore value (TODO)

    @section python_qore_object_lifecycle_management Managing the Lifecycle of Qore objects from Python

    %Qore's deterministic garbage collection approach and reliance on destructors means that %Qore objects created by
    Python must have their lifecycles managed externally.

    Python objects wrapping %Qore objects hold only weak references to %Qore objects.

    @subsection python_qore_object_lifecycle_default Default Qore Object Lifecycle Management

    By default, %Qore objects are saved in thread-local data, so the lifecycle of the object is automatically limited
    to the existence of the thread.

    The thread-local hash key name used to save the list of objects created is determined by the value of the
    \c "_python_save" thread-local key, if set.  If no such key is set, then \c "_python_save" is used instead as the
    literal key for saving the list of objects.

    @subsection python_qore_object_lifecycle_explicit Explicit Qore Object Lifecycle Management

    The lifecycle of %Qore objects can be managed explicitly by using the
    @ref Python::PythonProgram::setSaveObjectCallback() "PythonProgram::setSaveObjectCallback()" method to set a
    callback that is called every time a %Qore object is created using the Python API.

    This callback must take a single object argument as in the following example:

    @code{.py}
hash<string, object> object_cache;
code callback = sub (object obj) {
    # save object in object cache, so it doesn't go out of scope
    object_cache{obj.uniqueHash()} = obj;
}
PythonProgram::setSaveObjectCallback(callback);
    @endcode

    @section pythonreleasenotes python Module Release Notes

    @subsection python_1_0 python Module Version 1.0
    - initial public release
*/
