/** @mainpage Qore python Module

    @tableofcontents

    @section pythonintro python Module Introduction

    The \c python module allows for ,,,,

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for more
    information).  The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code %requires python @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |x|x

    Helper %Qore functions provided by this module:
    |!Function|!Description
    |x|x

    @section python_examples Examples

    @par Example:
    @code{.py}
 #!/usr/bin/env qore

 %new-style
 %require-types
 %strict-args
 %enable-all-warnings

 %requires python

xxx
    @endcode

    @section python_types Type Conversions Between Qore and Python

    @subsection python_qore_to_python Type Conversions From Qore To Python

    |!Source %Qore Type|!Target Python Type
    |@ref binary_type "binary"|\c bytearray
    |@ref bool_type "bool"|\c bool
    |@ref date_type "date"|\c datetime.datetime (absolute date/time values) or \c delta.deltatime (relative date/time values)
    |@ref float_type "float"|\c float
    |@ref hash_type "hash"|\c dict
    |@ref int_type "int"|\c int
    |@ref list_type "list"|\c list
    |@ref string_type "string"|\c string

    @subsection python_python_to_qore Type Conversions From Python to Qore

    |!Source Python Type|!Target %Qore Type
    |\c bool|@ref bool_type "bool"
    |\c int|@ref int_type "int"
    |\c float|@ref float_type "float"
    |\c bytes|@ref binary_type "binary"
    |\c bytearray|@ref binary_type "binary"
    |\c datetime.datetime|@ref date_type "date" (absolute date/time values)
    |\c datetime.delta|@ref date_type "date" (relative date/time values)
    |\c list|@ref list_type "list"
    |\c string|@ref string_type "string"
    |\c tuple|@ref list_type "list"

    @section pythonreleasenotes python Module Release Notes

    @subsection python_1_0 python Module Version 1.0
    - initial public release
*/
